
@{
    ViewBag.Title = "BanGiamdoc";
    Layout = "~/Views/Shared/FrontEnd/_LayoutBenhvien.cshtml";
}
@section ScriptsHeader{
    @*<link href="~/Content/assets/css/datcauhoi.css" rel="stylesheet" />*@
}
   <!--Main Content start-->
<div class="main-content">

    <section class="page-title" style="background-image: url('http://cdn1.medihub.vn/uploads/images/2017/07/16/hero-slide2.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-title-content">
                    <h2 class="title line-bottom line-left">Ban Giám Đốc</h2>
                </div>
            </div>
        </div>
    </section>



    <div class="box-layout">


        <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Ban giám đốc</a></li>
        </ol>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="team-section team-section--leader eo_pb">
                        <div class="row team-style4">
                            <div class="col-md-12">

                                <div class="team-post team-post--big-one">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="team-post__media">
                                                <img src="/Content/assets/images/team/giamdoc.png" alt="" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="team-post__info">
                                               
                                                <h4 class="bacsi-title"><b>GIÁM ĐỐC</b></h4>
                                                <h3 class="bacsi-name">TS.BS NGUYỄN ANH DŨNG</h3>
                                                <p class="team-post__quotes">
                                                    Lấy người bệnh làm trung tâm, đáp ứng sự mong đợi của người bệnh bằng cách đa dạng hóa dịch vụ y tế đảm bảo chất lượng, an toàn người bệnh với giá cả hợp lý, tôn trọng y đức và tuân thủ pháp luật.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <a class="team-post__link" href="#"></a>
                                </div>
                            </div>
                        </div>
                        <div class="row team-style4">
                            <div class="col-md-4 col-sm-6">
                                <div class="team-post clearfix">
                                    <div class="embed-responsive embed-responsive-4by3">
                                        <div class="embed-responsive-item">
                                            <img src="/Content/assets/images/phogiamdoc.png" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h5 class="text-center bacsi-title"><b>PHÓ GIÁM ĐỐC</b></h5>
                                        <h5 class="text-center bacsi-name">BS.CKII NGUYỄN ÁNH TUYẾT</h5>

                                    </div>
                                    <a class="team-post__link" href="#"></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="team-post clearfix">
                                    <div class="embed-responsive embed-responsive-4by3">
                                        <div class="embed-responsive-item">
                                            <img src="/Content/assets/images/phogiamdoc2.jpg" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h5 class="text-center bacsi-title"><b>PHÓ GIÁM ĐỐC</b></h5>
                                        <h5 class="text-center bacsi-name">PGS.TS.BS TRẦN VIỆT HỒNG</h5>
                                    </div>
                                    <a class="team-post__link" href="#"></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="team-post clearfix">
                                    <div class="embed-responsive embed-responsive-4by3">
                                        <div class="embed-responsive-item">
                                            <img src="/Content/assets/images/phogiamdoc3.jpg" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h5 class="text-center bacsi-title"><b>PHÓ GIÁM ĐỐC</b></h5>
                                        <h5 class="text-center bacsi-name">BS NGUYỄN ĐỨC TRÍ</h5>

                                    </div>
                                    <a class="team-post__link" href="#"></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>





                    <!--Main Content end-->
                </div>
