
<div id="hero-slide" class="owl-carousel owl-theme">



    <div class="owl-item">
        <img src="http://cdn1.medihub.vn/uploads/images/2017/07/30/bg-2.jpg" alt="">


        <div class="carousel-caption carousel-caption--flex-end">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-left">
                       

                        <h1 class="carousel-caption-1">CHÚNG TÔI</h1>
                       
                        <h1 class="carousel-caption-2">CHĂM SÓC TẬN TÌNH CHU ĐÁO</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="owl-item">
        <img src="http://cdn1.medihub.vn/uploads/images/2017/07/27/hero-bg-blue-1.jpg" alt="">

        <div class="carousel-caption carousel-caption--flex-end">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-left">
                     
                        <h1 class="carousel-caption-2 "><b>AN TOÀN - HIỆU QUẢ -TRÁCH NHIỆM</b> </h1>
                        @*<h1 class="carousel-caption-1">TRÁCH NHIỆM</h1>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="owl-item">
        <img src="http://cdn1.medihub.vn/uploads/images/2017/10/03/bg-4%20(2).jpg" alt="">

        <div class="carousel-caption carousel-caption--flex-start">
            <div class="container">
                <div class="row ">
                    <div class="col-xs-12 text-left">
                  
                        <h1 class="carousel-caption-1">VƯƠN TẦM CAO MỚI</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>