<h2 class="des-title m-b-0"> HÌNH ẢNH</h2>
<div class="image-gallery owl-column owl-col-1 owlnav-true owl-carousel">

    <div>
        <a class="lightbox-gallery" rel="gallery1" href="http://bvndgiadinh.com.vn/wp-content/uploads/2017/07/922afa84.jpg" title="Hình bệnh viện">
            <img src="http://bvndgiadinh.com.vn/wp-content/uploads/2017/07/922afa84.jpg" alt="" />
        </a>
    </div>

    <div>
        <a class="lightbox-gallery" rel="gallery1" href="http://bvndgiadinh.com.vn/wp-content/uploads/2017/07/image009-732x423.png"
           title="Hình bệnh viện">
            <img src="http://bvndgiadinh.com.vn/wp-content/uploads/2017/07/image009-732x423.png" alt="" />
        </a>
    </div>
    <div>

        <a class="lightbox-gallery" rel="gallery1" href="http://file.medinet.gov.vn/UploadImages/soytehcm/2017/07/08/tdd2/image003.png"
           title="Hình bệnh viện">
            <img src="http://file.medinet.gov.vn/UploadImages/soytehcm/2017/07/08/tdd2/image003.png" alt="" />
        </a>
    </div>

</div>
