
<h2 class="des-title m-b-0 "> Liên kết</h2>

<div class="video-gallery">
    
  

    <div class="video-gallery-item video-gallery-item--sm">
            <a class="fancybox-media" href="https://lienthongvanban.tphcm.gov.vn" target="_blank" title="Awsome Title">
                
                <img alt="" src="/Content/Images/lienthongvanban.png">
            </a>
        </div>
        <div class="video-gallery-item video-gallery-item--sm">
            <a class="fancybox-media" href="https://pddt.medinet.org.vn/Home/HDSD" target="_blank" title="Awsome Title">
               
                <img alt="" src="/Content/Images/khophacdo.png">
            </a>
        </div>
    <div class="video-gallery-item video-gallery-item--sm">
        <a class="fancybox-media" href="http://phapdien.moj.gov.vn/Pages/CHI-TIET-BO-PHAP-DIEN.ASPX" target="_blank" title="Awsome Title">
               
            <img alt="" src="/Content/Images/PHAPTUDIEN.jpg">
        </a>
    </div>

</div>

