<footer class="page-footer">
    <div class="container">
        <div class="page-footer-contain">
            <div class="row">
                <div class="page-footer-logo col-lg-4 col-md-12 col-12 drop-2">
                    <a href="@Url.Action("Trangchu","Home")" class="page-footer-logo-img">
                        <img class="img-fluid" src="/Content/assets/img/logo-white.png" alt="">
                    </a>

                </div>

                <!-- Thông tin liên hệ -->
                <div class="col-lg-4 col-md-6 col-12 drop-2">
                    <div class="page-footer-title">
                        <h5>Thông tin liên hệ</h5>
                        <div class="section__title-icon page-footer__icon"></div>
                    </div>

                    <div class="page-footer-items">
                        <!-- địa chỉ -->
                        <div class="page-footer-item">
                            <div class="page-footer-item-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="page-footer-item-content">
                                <b>Địa chỉ :</b> <span>
                                    64 Lê Văn Chí, Khu phố 1, P. Linh Trung,
                                    Quận
                                    Thủ Đức, TP.HCM
                                </span>
                            </div>
                        </div>

                        <!-- email -->
                        <div class="page-footer-item">
                            <div class="page-footer-item-icon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="page-footer-item-content"><b>Email :</b> <span>bv.dkkvtd@tphcm.gov.vn</span></div>
                        </div>

                        <!-- fax -->
                        <div class="page-footer-item">
                            <div class="page-footer-item-icon">
                                <i class="fa fa-fax" aria-hidden="true"></i>
                            </div>
                            <div class="page-footer-item-content"><b>Fax :</b> <span>(028) 3722 2522</span></div>
                        </div>

                        <!-- điện thoại -->
                        <div class="page-footer-item">
                            <div class="page-footer-item-icon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="page-footer-item-content"><b>Điện thoại :</b> <span>(028) 3722 3556</span></div>
                        </div>

                        <!-- điện thoại đường dây nóng -->
                        <div class="page-footer-item">
                            <div class="page-footer-item-icon">
                                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                            </div>
                            <div class="page-footer-item-content">
                                <b class="hotline__title">Điện thoại đường dây nóng</b> <br><span class="hotline__number">096 614 1010</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Kết nối với chúng tôi -->
                <div class="col-lg-4 col-md-6 col-12 drop-2">
                    <div class="page-footer-title">
                        <h5>Kết nối với chúng tôi</h5>
                        <div class="section__title-icon page-footer__icon"></div>
                    </div>
                    <div class="page-footer-connect-items">
                        <div class="page-footer-connect-item">
                            <a href="https://www.facebook.com/bvdkkhuvucthuduc" class="page-footer-connect-item-icon">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                        </div>
                        <div class="page-footer-connect-item">
                            <a href="https://www.youtube.com/channel/UCJ66AiGPsuem4dQZvmfhogA" class="page-footer-connect-item-icon">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </div>
                        <!-- <div class="page-footer-connect-item">
                          <a href="#" class="page-footer-connect-item-icon">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </div> -->
                    </div>

                    <div class="page-footer-title">
                        <h5>Đường dẫn hữu ích</h5>
                        <div class="section__title-icon page-footer__icon"></div>
                    </div>
                    <div class="page-footer__benerfit">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <a href="@Url.Action("DoctorSearch","Home")">Tìm bác sĩ</a>
                    </div>
                    <!-- <div class="page-footer__benerfit">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      <a href="#">Đặt lịch hẹn Khám bệnh</a>
                    </div> -->
                    <div class="page-footer__benerfit">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <a href="@Url.Action("Hoidap","Questions")">Hỏi đáp</a>
                    </div>
                    <div class="page-footer__benerfit">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <a href="@Url.Action("Huongdan","Home")">Hướng dẫn</a>
                    </div>

                </div>
            </div>
            <div class="text-center page-footer-copyright">
                Copyright ©2019 - Bản quyền thuộc về BỆNH VIỆN ĐA KHOA KHU VỰC THỦ ĐỨC -
                Phát triển bởi <a target="blank" href="https://medihub.vn">MediHub</a>
            </div>
        </div>
    </div>

</footer>
