
@{
    ViewBag.Title = "Danh sách khoa cận lâm sàng";
    Layout = "~/Views/Shared/FrontEnd/_LayoutBenhvien.cshtml";
}

<!--Main Content start-->
<div class="main-content">



    <section class="page-title" style="background-image: url('http://cdn1.medihub.vn/uploads/images/2017/07/16/hero-slide2.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-title-content">
                    <h2 class="title line-bottom line-left">Khoa Cận Lâm Sàng</h2>
                </div>
            </div>
        </div>
    </section>

<div class="box-layout">
    <ol class="breadcrumb">
        <li><a href="/Home/Trangchu">Trang chủ</a></li>
        <li class="active">Khoa Cận Lâm Sàng</li>
    </ol>
    <div class="container">
       
        <div class="hospitalTypes">
          
            <div id="hospitalTypes-Content" class="hospitalTypes__content row">
                   
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="service-post service-post--page">
                        <a href="/article/khoa-sinh-hoa-huyet-hoc" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="/Content/assets/images/department/laboratory.jpg" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <i class="icon-hospital-pills-bottle icon"></i>
                            </div>
                            <div class="content">
                                <h5 class="service-post__name">Khoa Sinh Huyết Học</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="service-post service-post--page">
                        <a href="/article/khoa-chan-đoan-hinh-anh" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="/Content/assets/images/department/dsa.jpg" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <i class="icon-tape icon"></i>
                            </div>
                            <div class="content">
                                <h5 class="service-post__name">Chẩn Đoán Hình Ảnh</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="service-post service-post--page">
                        <a href="/article/khoa-vi-sinh-1" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="/Content/assets/images/department/microbiology.png" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <i class="icon-testing-drop icon"></i>
                            </div>
                            <div class="content">
                                <h5 class="service-post__name">Khoa Vi Sinh</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="service-post service-post--page">
                        <a href="/article/khoa-duoc" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="/Content/assets/images/department/pharmacy.jpg" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <i class="icon-medicine-pills icon"></i>
                            </div>
                            <div class="content">
                                <h5 class="service-post__name">Khoa Dược</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="service-post service-post--page">
                        <a href="/article/khoa-tham-do-chuc-nang" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="/Content/assets/images/department/endoscopic.jpg" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <i class="icon-organs-lungs icon"></i>
                            </div>
                            <div class="content">
                                <h5 class="service-post__name">Khoa Nội Soi – Thăm Dò Chức Năng</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="service-post service-post--page">
                        <a href="/article/khoa-dinh-duong" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="/Content/assets/images/department/nutrition.jpg" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <svg width="50" height="50" class="icon_svg">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-dinhduong"></use>
                                </svg>
                            </div>
                            <div class="content">
                                <h5 class="service-post__name">Khoa Dinh Dưỡng</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="service-post service-post--page">
                        <a href="/article/khoa-giai-phau-benh" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="/Content/assets/images/department/pathology.jpg" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <i class="icon-male icon"></i>
                            </div>
                            <div class="content">
                                <h5 class="service-post__name">Khoa Giải phẫu bệnh lý</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="service-post service-post--page">
                        <a href="/article/khoa-kiem-soat-nhiem-khuan" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="/Content/assets/images/department/virus.jpg" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <svg width="50" height="50" class="icon_svg">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-nhiemkhuan"></use>
                                </svg>
                            </div>
                            <div class="content">
                                <h5 class="service-post__name">Khoa Kiểm soát nhiễm khuẩn</h5>
                            </div>
                        </div>
                    </div>
                </div>
                 
                
            </div>
        </div>
    </div>
</div>
</div>