
@{
    ViewBag.Title = "DanhsachPhongChucnang";
    Layout = "~/Views/Shared/FrontEnd/_LayoutBenhvien.cshtml";
}

  <!--Main Content start-->
<div class="main-content">
    <section class="page-title" style="background-image: url('http://cdn1.medihub.vn/uploads/images/2017/07/16/hero-slide2.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-title-content">
                    <h2 class="title line-bottom line-left">Phòng Chức năng</h2>
                </div>
            </div>
        </div>
    </section>
    <div class="box-layout">
        <ol class="breadcrumb">
            <li><a href="/Home/Trangchu">Trang chủ</a></li>
            <li class="active">Phòng Chức năng</li>
        </ol>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="service-post service-post--page">
                        <a href="/article/phong-ke-hoach-tong-hop" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="http://bvndgiadinh.com.vn/wp-content/uploads/2016/12/kế-hoạch-tổng-hợp-1024x768.jpg" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <i class="icon-hospital-building icon"></i>
                            </div>
                            <div class="content">
                                <h5 class="title">Phòng Kế Hoạch Tổng Hợp</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-post service-post--page">
                        <a href="/article/phong-hanh-chanh-quan-tri" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="http://bvndgiadinh.com.vn/wp-content/uploads/2016/12/hanh-chanh-1024x7682.jpg" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <i class="icon-health-clinic icon"></i>
                            </div>
                            <div class="content">
                                <h5 class="title">Phòng Hành Chính Quản Trị</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-post service-post--page">
                        <a href="/article/phong-vat-tu-trang-thiet-bi-y-te" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="http://bvndgiadinh.com.vn/wp-content/uploads/2016/12/vật-tư-trang-thiết-bị-y-tế.jpg" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <i class="icon-medical-bag icon"></i>
                            </div>
                            <div class="content">
                                <h5 class="title">Phòng Vật Tư – Trang Thiết Bị Y Tế</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-post service-post--page">
                        <a href="/article/phong-cong-nghe-thong-tin" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="http://bvndgiadinh.com.vn/wp-content/uploads/2016/12/công-nghệ-thông-tin.jpg" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <i class="icon-computer-screen icon"></i>
                            </div>
                            <div class="content">
                                <h5 class="title">Phòng Công Nghệ Thông Tin</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-post service-post--page">
                        <a href="/article/phong-tai-chinh-ke-toan" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="http://bvndgiadinh.com.vn/wp-content/uploads/2016/12/công-nghệ-thông-tin.jpg" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <i class="icon-document-cross icon"></i>
                            </div>
                            <div class="content">
                                <h5 class="title">Phòng Tài Chính Kế Toán</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-post service-post--page">
                        <a href="/article/phong-đieu-duong" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="http://bvndgiadinh.com.vn/wp-content/uploads/2016/12/công-nghệ-thông-tin.jpg" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <i class="icon-hospitals-desk icon"></i>
                            </div>
                            <div class="content">
                                <h5 class="title">Phòng Điều Dưỡng</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-post service-post--page">
                        <a href="/article/phofnng-chi-đao-tuyen" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="http://bvndgiadinh.com.vn/wp-content/uploads/2016/12/chỉ-đạo-tuyến-1024x7681.jpg" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <i class="icon-healthy-care icon"></i>
                            </div>
                            <div class="content">
                                <h5 class="title">Phòng Chỉ Đạo Tuyến</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-post service-post--page">
                        <a href="/article/phong-quan-ly-chat-luong-1" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="http://bvndgiadinh.com.vn/wp-content/uploads/2016/12/QLCL1.jpg" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <i class="icon-file icon"></i>
                            </div>
                            <div class="content">
                                <h5 class="title">Phòng Quản Lý Chất Lượng</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-post service-post--page">
                        <a href="/article/phong-to-chuc-can-bo" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="http://bvndgiadinh.com.vn/wp-content/uploads/2016/12/unnamed-11.jpg" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <i class="icon-medicine-tent icon"></i>
                            </div>
                            <div class="content">
                                <h5 class="title">Phòng Tổ Chức Cán Bộ</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-post service-post--page">
                        <a href="/article/phong-cong-tac-xa-hoi" class="absolute-all"></a>
                        <div class="thumb">
                            <img src="http://bvndgiadinh.com.vn/wp-content/uploads/2016/12/unnamed-11.jpg" alt="">
                        </div>
                        <div class="service-post__info">
                            <div class="icon-box">
                                <svg width="40" height="40" class="icon-department">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-tochuccanbo"></use>
                                </svg>
                            </div>
                            <div class="content">
                                <h5 class="title">Phòng Công Tác Xã Hội</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>