
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/FrontEnd/_LayoutBenhvien.cshtml";
}
   <!--Main Content start-->
<div class="main-content">



    <div class="hero-section">
        <div class="container">
            <div class="hero-sos hidden-xs">
                <a href="tel: 02838412692"> <i class="fa fa-ambulance hero-sos-icon"></i> <span class="hero-sos-title">CẤP CỨU :</span>  <span class="hero-sos-phone">38412 692 - 211</span></a>
            </div>


            <div class="hero-widget">

                <a href="">
                    <i class="fa fa-user-md"></i>
                    Tìm bác sĩ
                </a>

                <a href="">
                    <i class="fa fa-question-circle-o"></i>
                    Hỏi đáp
                </a>

            </div>
        </div>

        <div id="hero-slide" class="owl-carousel owl-theme">



            <div class="owl-item">
                <img src="http://cdn1.medihub.vn/uploads/images/2017/07/27/hero-bg-blue-1.jpg" alt="The Last of us">


                <div class="carousel-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 text-left">
                                <h1 class="carousel-caption-1">CHÚNG TÔI</h1>
                                <h1 class="carousel-caption-2">CHĂM SÓC TẬN TÌNH CHU ĐÁO</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="owl-item">
                <img src="http://cdn1.medihub.vn/uploads/images/2017/07/30/bg-2.jpg" alt="The Last of us">

                <div class="carousel-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 text-left">
                                <h1 class="carousel-caption-1">AN TOÀN - HIỆU QUẢ </h1>
                                <h1 class="carousel-caption-1">TRÁCH NHIỆM</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="owl-item">
                <img src="http://cdn1.medihub.vn/uploads/images/2017/07/30/bg-3.jpg" alt="The Last of us">

                <div class="carousel-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 text-left">
                                <h1 class="carousel-caption-1">VƯƠNG TẦM CAO MỚI</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="box-layout">

        <section>
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-8">

                        <div data-mh="sameHeight-homepage">
                            <h2 class="des-title"> TIN TỨC</h2>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="post">
                                        <div class="picture"><img src="http://cdn1.medihub.vn/uploads/images/2017/07/22/2.jpg" class="img-responsive" alt=""></div>

                                        <a href="#" class="absolute-all"></a>

                                        <h4 class="post-title">Mẹo nhỏ giúp hạn chế tác hại khói hương</h4>

                                        <div class="post-info">
                                            <div class="info">
                                                <!-- <span class="category-name"><a href="">Mẹo hay </a> -->
                                                </span><span class="date"><i class="fa fa-clock-o"></i> 1 tháng 5, 2015</span>
                                            </div>
                                        </div>
                                        <div class="description">
                                            Thắp hương là nét đẹp văn hóa của người Việt, nhưng khói hương lại tiềm ẩn nhiều nguy cơ cho sức khỏe.
                                            Để giảm thiểu tác hại này, người ta cần thực hiện một số biện pháp sau:
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <!-- Post Starts -->
                                    <div class="row post small">
                                        <div class="col-lg-5 col-md-5 col-sm-5">
                                            <div class="picture">
                                                <img src="http://webagate.com/demos/alia/spider-responsive-newspaper-magazine-blog-theme/images/tech/2.jpg"
                                                     class="img-responsive" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7">

                                            <h5 class="post-title-sm"><a href="#">Chữa bệnh "phòng the" ở nam giới bằng rau mồng tơi</a></h5>

                                            <div class="post-info">
                                                <div class="info">
                                                    </span><span class="date"><i class="fa fa-clock-o"></i> 1 tháng 5, 2015</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Post Ends -->
                                    <!-- Post Starts -->
                                    <div class="row post small">
                                        <div class="col-lg-5 col-md-5 col-sm-5">
                                            <div class="picture">
                                                <img src="http://webagate.com/demos/alia/spider-responsive-newspaper-magazine-blog-theme/images/tech/2.jpg"
                                                     class="img-responsive" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7">

                                            <h5 class="post-title-sm"><a href="#">Trứng gà đánh mật ong trị yếu sinh lý, tinh trùng kém</a></h5>

                                            <div class="post-info">
                                                <div class="info">
                                                    </span><span class="date"><i class="fa fa-clock-o"></i> 1 tháng 5, 2015</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Post Ends -->
                                    <!-- Post Starts -->
                                    <div class="row post small">
                                        <div class="col-lg-5 col-md-5 col-sm-5">
                                            <div class="picture">
                                                <img src="http://webagate.com/demos/alia/spider-responsive-newspaper-magazine-blog-theme/images/tech/2.jpg"
                                                     class="img-responsive" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7">

                                            <h5 class="post-title-sm"><a href="#">Giảm cân, bạn nên ăn trái gì?</a></h5>

                                            <div class="post-info">
                                                <div class="info">
                                                    </span><span class="date"><i class="fa fa-clock-o"></i> 1 tháng 5, 2015</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Post Ends -->
                                    <!-- Post Starts -->
                                    <div class="row post small">
                                        <div class="col-lg-5 col-md-5 col-sm-5">
                                            <div class="picture">
                                                <img src="http://webagate.com/demos/alia/spider-responsive-newspaper-magazine-blog-theme/images/tech/2.jpg"
                                                     class="img-responsive" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7">

                                            <h5 class="post-title-sm"><a href="#">Phun màu môi: Cẩn thận rước họa vào thân</a></h5>

                                            <div class="post-info">
                                                <div class="info">
                                                    </span><span class="date"><i class="fa fa-clock-o"></i> 1 tháng 5, 2015</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Post Ends -->
                                </div>
                            </div>
                        </div>
                        <h2 class="des-title m-b-0 "> TRUYỀN THÔNG</h2>

                        <div class="video-gallery owl-carousel owl-column owl-col-3 owlnav-true owl-nav3">
                            <div class="video-gallery-item">
                                <a class="fancybox-media" href="http://www.youtube.com/watch?v=opj24KnzrWo" title="Awsome Title">
                                    <i class="fa fa-youtube-play"></i>

                                    <img alt="" src="http://bvndgiadinh.com.vn/wp-content/uploads/2016/12/4.png">
                                </a>
                            </div>
                            <div class="video-gallery-item">
                                <a class="fancybox-media" href="http://www.youtube.com/watch?v=opj24KnzrWo" title="Awsome Title">
                                    <i class="fa fa-youtube-play"></i>
                                    <img alt="" src="http://bvndgiadinh.com.vn/wp-content/uploads/2016/12/4.png">
                                </a>
                            </div>
                            <div class="video-gallery-item">
                                <a class="fancybox-media" href="http://www.youtube.com/watch?v=opj24KnzrWo" title="Awsome Title">
                                    <i class="fa fa-youtube-play"></i>
                                    <img alt="" src="http://bvndgiadinh.com.vn/wp-content/uploads/2016/12/4.png">
                                </a>
                            </div>

                            <div class="video-gallery-item">
                                <a class="fancybox-media" href="http://www.youtube.com/watch?v=opj24KnzrWo" title="Awsome Title">
                                    <i class="fa fa-youtube-play"></i>
                                    <img alt="" src="http://bvndgiadinh.com.vn/wp-content/uploads/2016/12/4.png">
                                </a>
                            </div>

                        </div>


                        <h2 class="des-title m-b-0">CHUYÊN KHOA</h2>
                        <div class="row">
                            <div class="col-sm-12">


                                <div class="owl-column owl-carousel owl-col-2 owlnav-true owl-nav2">
                                    <div class="service-post">
                                        <a href="#" class="absolute-all"></a>
                                        <div class="thumb">
                                            <img src="http://cdn1.medihub.vn/uploads/images/2017/07/16/chuyenkhoa1.jpg" alt="">
                                        </div>

                                        <div class="icon-box">
                                            <i class="icon-heart icon"></i>
                                        </div>
                                        <div class="content">
                                            <h5 class="title">Phẫu thuật tim</h5>
                                            <p>Bệnh Viện Nhân Dân Gia Định</p>
                                        </div>
                                    </div>

                                    <div class="service-post">

                                        <a href="#" class="absolute-all"></a>

                                        <div class="thumb">
                                            <img src="http://icutelab.com/themeforest/html/approve/emedical/emedical-html/images/service/1.jpg" alt="">
                                        </div>

                                        <div class="icon-box">
                                            <i class="icon-medical-blood-pressure icon"></i>
                                        </div>
                                        <div class="content">
                                            <h5 class="title">Can thiệp mạch máu</h5>
                                            <p>Bệnh Viện Nhân Dân Gia Định</p>
                                        </div>
                                    </div>

                                    <div class="service-post">

                                        <a href="#" class="absolute-all"></a>

                                        <div class="thumb">
                                            <img src="http://icutelab.com/themeforest/html/approve/emedical/emedical-html/images/service/1.jpg" alt="">
                                        </div>

                                        <div class="icon-box">
                                            <i class="icon-stick-man icon"></i>
                                        </div>
                                        <div class="content">
                                            <h5 class="title">Ngoại khoa</h5>
                                            <p>Bệnh Viện Nhân Dân Gia Định</p>
                                        </div>
                                    </div>

                                    <div class="service-post">

                                        <a href="#" class="absolute-all"></a>

                                        <div class="thumb">
                                            <img src="http://icutelab.com/themeforest/html/approve/emedical/emedical-html/images/service/1.jpg" alt="">
                                        </div>

                                        <div class="icon-box">
                                            <i class="icon-organs-lungs icon"></i>
                                        </div>
                                        <div class="content">
                                            <h5 class="title">Cận lâm sàng</h5>
                                            <p>Bệnh Viện Nhân Dân Gia Định</p>
                                        </div>
                                    </div>


                                </div>
                            </div>

                           

                        </div>


                        <h2 class="des-title m-b-0 ">DỊCH VỤ NỔI BẬT</h2>

                        <div class="video-gallery owl-column owl-col-2-stop owlnav-true owl-nav2">
                            <div class="video-gallery-item">
                                <a class="" href="#" title="Awsome Title">
                                    <img alt="" src="http://cdn1.medihub.vn/uploads/images/2017/07/27/Web-banner-01.jpg">
                                </a>
                            </div>
                            <div class="video-gallery-item">
                                <a class="" href="#" title="Awsome Title">
                                    <img alt="" src="http://cdn1.medihub.vn/uploads/images/2017/07/27/Web-Banner-N-VN.jpg">
                                </a>
                            </div>
                            <div class="video-gallery-item">
                                <a class="" href="#" title="Awsome Title">
                                    <img alt="" src="http://cdn1.medihub.vn/uploads/images/2017/07/27/Web-banner-01.jpg">
                                </a>
                            </div>
                            <div class="video-gallery-item">
                                <a class="" href="#" title="Awsome Title">
                                    <img alt="" src="http://cdn1.medihub.vn/uploads/images/2017/07/27/Web-Banner-N-VN.jpg">
                                </a>
                            </div>


                        </div>







                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div data-mh="sameHeight-homepage">


                            <h2 class="des-title m-b-0">
                                THÔNG TIN TỪ SỞ Y TẾ TP.HCM
                            </h2>

                            <div class="rss-bg">

                                <h5 class="rss-title">
                                    Văn bản từ sở

                                    <div class="xemthem inline">
                                        <a href="" data-toggle="modal" data-target="#vanBanTuSo">Xem thêm <i class="fa fa-angle-right"></i></a>
                                    </div>


                                </h5>

                                <ul class="rss-links">
                                    <li>
                                        <a href="http://medinet.gov.vn/thong-bao/ve-viec-giai-quyet-ho-so-cong-bo-co-so-kham-benh-chua-benh-du-dieu-kien-kham-su-c1081-4039.aspx"
                                           target="_blank">
                                            THÔNG BÁO THƯ MỜI
                                            Về việc giải quyết hồ sơ công bố cơ sở khám bệnh, chữa bệnh đủ điều kiện khám sức khỏe, khám sức khỏe lái xe, khám sức khỏe thuyền viên.
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://medinet.gov.vn/thong-bao/ket-luan-cua-giam-doc-so-y-te-tai-giao-ban-tuan-voi-lanh-dao-phong-ban-so-y-te-c1081-3996.aspx"
                                           target="_blank">Kết luận của Giám đốc Sở Y tế tại Giao ban tuần với lãnh đạo phòng, ban Sở Y tế ngày 03/7/2017</a>
                                    </li>
                                </ul>


                                <h5 class="rss-title">
                                    Thông báo từ sở

                                    <div class="xemthem inline">
                                        <a href="">Xem thêm <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </h5>

                                <ul class="rss-links">
                                    <li>
                                        <a href="http://medinet.gov.vn/thong-bao/ve-viec-giai-quyet-ho-so-cong-bo-co-so-kham-benh-chua-benh-du-dieu-kien-kham-su-c1081-4039.aspx"
                                           target="_blank">
                                            Về việc giải quyết hồ sơ công bố cơ sở khám bệnh, chữa bệnh đủ điều kiện khám sức khỏe, khám sức khỏe lái xe, khám sức khỏe thuyền viên.
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://medinet.gov.vn/thong-bao/ket-luan-cua-giam-doc-so-y-te-tai-giao-ban-tuan-voi-lanh-dao-phong-ban-so-y-te-c1081-3996.aspx"
                                           target="_blank">Kết luận của Giám đốc Sở Y tế tại Giao ban tuần với lãnh đạo phòng, ban Sở Y tế ngày 03/7/2017</a>
                                    </li>
                                </ul>

                                <h5 class="rss-title">
                                    Thư mời từ sở

                                    <div class="xemthem inline">
                                        <a href="">Xem thêm <i class="fa fa-angle-right"></i></a>
                                    </div>

                                </h5>

                                <ul class="rss-links">
                                    <li>
                                        <a href="http://medinet.gov.vn/thong-bao/ve-viec-giai-quyet-ho-so-cong-bo-co-so-kham-benh-chua-benh-du-dieu-kien-kham-su-c1081-4039.aspx"
                                           target="_blank">
                                            THÔNG BÁO THƯ MỜI
                                            Về việc giải quyết hồ sơ công bố cơ sở khám bệnh, chữa bệnh đủ điều kiện khám sức khỏe, khám sức khỏe lái xe, khám sức khỏe thuyền viên.
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://medinet.gov.vn/thong-bao/ket-luan-cua-giam-doc-so-y-te-tai-giao-ban-tuan-voi-lanh-dao-phong-ban-so-y-te-c1081-3996.aspx"
                                           target="_blank">Kết luận của Giám đốc Sở Y tế tại Giao ban tuần với lãnh đạo phòng, ban Sở Y tế ngày 03/7/2017</a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <h2 class="des-title m-b-0"> Tìm bác sĩ</h2>

                        <div class=" appointment-form">
                            <form>
                                <div class="row">

                                    <div class="form-group col-md-12">
                                        <label for="">Chọn chuyên khoa</label>
                                        <select class="select-input" name="category">
                                            <option value="" disabled selected="selected">Chọn chuyên khoa</option>
                                            <option value="">Depertment</option>
                                            <option value="Surgery">Surgery &amp; Transplants</option>
                                            <option value="Emergancy">Emergancy / Critical Care</option>
                                            <option value="Gynaecological">Gynaecological Clinic</option>
                                            <option value="Accident">Accident Injuries</option>
                                            <option value="Outpatient">Outpatient Rehabilitation</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="">Tên bác sĩ</label>
                                        <input class="form-control" type="text" name="" placeholder="Tên bác sĩ">
                                    </div>

                                </div>
                                <div class="text-center">

                                    <a class="btn btn-primary" href="#"><i class="fa fa-search"></i> Tìm</a>

                                </div>

                            </form>
                        </div>



                        <h2 class="des-title m-b-0"> HÌNH ẢNH</h2>
                        <div class="image-gallery owl-column owl-col-1 owlnav-true owl-carousel">

                            <div>
                                <a class="lightbox-gallery" rel="gallery1" href="http://bvndgiadinh.com.vn/wp-content/uploads/2017/07/922afa84.jpg" title="Hình bệnh viện">
                                    <img src="http://bvndgiadinh.com.vn/wp-content/uploads/2017/07/922afa84.jpg" alt="" />
                                </a>
                            </div>

                            <div>
                                <a class="lightbox-gallery" rel="gallery1" href="http://bvndgiadinh.com.vn/wp-content/uploads/2017/07/image009-732x423.png"
                                   title="Hình bệnh viện">
                                    <img src="http://bvndgiadinh.com.vn/wp-content/uploads/2017/07/image009-732x423.png" alt="" />
                                </a>
                            </div>
                            <div>

                                <a class="lightbox-gallery" rel="gallery1" href="http://file.medinet.gov.vn/UploadImages/soytehcm/2017/07/08/tdd2/image003.png"
                                   title="Hình bệnh viện">
                                    <img src="http://file.medinet.gov.vn/UploadImages/soytehcm/2017/07/08/tdd2/image003.png" alt="" />
                                </a>
                            </div>

                        </div>

                        <h2 class="des-title m-b-0"> Tin nổi bật</h2>

                        <div class="widget-news">
                            <div class="widget-news-post">
                                <div class="thumb">
                                    <img alt="" src="http://icutelab.com/themeforest/html/approve/emedical/emedical-html/images/blog/s1.jpg">
                                </div>
                                <div class="content">
                                    <p class="title"><a href="#">Lorem ipsum dolor sit amet, consectetur elit</a></p>
                                    <div class="meta-date">30 Oct, 2016</div>
                                </div>
                            </div>
                            <div class="widget-news-post">
                                <div class="thumb">
                                    <img alt="" src="http://icutelab.com/themeforest/html/approve/emedical/emedical-html/images/blog/s2.jpg">
                                </div>
                                <div class="content">
                                    <p class="title"><a href="#">Lorem ipsum dolor sit amet, consectetur elit</a></p>
                                    <div class="meta-date">30 Oct, 2016</div>
                                </div>
                            </div>
                            <div class="widget-news-post">
                                <div class="thumb">
                                    <img alt="" src="http://icutelab.com/themeforest/html/approve/emedical/emedical-html/images/blog/s3.jpg">
                                </div>
                                <div class="content">
                                    <p class="title"><a href="#">Lorem ipsum dolor sit amet, consectetur elit</a></p>
                                    <div class="meta-date">30 Oct, 2016</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </section>


    </div>





    <!--Main Content end-->
</div>
