
@{
    ViewBag.Title = "Lichkhambenh";
    Layout = "~/Views/Shared/FrontEnd/_LayoutBenhvien.cshtml";
}
@section ScriptsHeader{
    <link href="~/Content/assets/css/datcauhoi.css" rel="stylesheet" />
}
   <!--Main Content start-->
<div class="main-content">

    <div class="box-layout">
        <ol class="breadcrumb">
            <li>
                <a href="#">Trang chủ</a>
            </li>
            <li class="active">Lịch Khám</li>
        </ol>
        <div class="tag-work">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="des-title text-center">
                            Lịch khám chữa bệnh
                        </h2>
                    </div>
                    <div class="col-md-12">
                        <div class="services">
                            <div class="services__item services__item--big-one">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="services__item-left">
                                            <img src="/Content/assets/images/ambulance1.png" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="services__item-right">
                                            <p class="h1 text-ambulance">Cấp Cứu</p>
                                            <p class="h3">
                                                <span class="highlight">24 giờ</span> trong một ngày
                                            </p>
                                            <p class="h3">
                                                <span class="highlight">7 ngày</span> trong tuần
                                            </p>
                                            <p class="h3">
                                                Kể cả ngày
                                                <span class="highlight">Lễ, Tết</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="services__item">
                                <div class="services__title"data-mh="servicesTitle">
                                    Khám dịch vụ VIP <br/> (Cổng số 1 Nơ Trang Long)
                                    <div class="services__holes">
                                        <span class="services__hole"></span>
                                        <span class="services__hole"></span>
                                        <span class="services__hole"></span>
                                        <span class="services__hole"></span>
                                    </div>
                                </div>
                                <div class="services__info" data-mh="servicesInfo">
                                    <div class="services__time">
                                        <p class="services__time-day">
                                            Thứ 2 đến Thứ 6
                                        </p>
                                        <p class="services__time-hours">
                                            Sáng: 7g00 - 12g00
                                        </p>
                                        <p class="services__time-hours">
                                            Chiều: 13g00 - 16g00
                                        </p>
                                    </div>
                                    <div class="services__time">
                                        <p class="services__time-day">
                                            Thứ 7, chủ nhật, ngày lễ, Tết: nghỉ
                                        </p>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="services__item">
                                <div class="services__title" data-mh="servicesTitle">
                                    Khám BHYT, Không BHYT <br/>(khu khám lầu 1, 2)
                                    <div class="services__holes">
                                        <span class="services__hole"></span>
                                        <span class="services__hole"></span>
                                        <span class="services__hole"></span>
                                        <span class="services__hole"></span>
                                    </div>
                                </div>
                                <div class="services__info" data-mh="servicesInfo">
                                    <div class="services__time">
                                        <p class="services__time-day">
                                            Thứ 2 đến Thứ 6
                                        </p>
                                        <p class="services__time-hours">
                                            Sáng: 7g00 - 12g00
                                        </p>
                                        <p class="services__time-hours">
                                            Chiều: 13g00 - 16g00
                                        </p>
                                    </div>
                                    <div class="services__time">
                                        <p class="services__time-day">
                                            Thứ 7, chủ nhật khám theo yêu cầu
                                        </p>
                                        <p class="services__time-hours">
                                            Sáng: 7g00 - 11g30
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <div class="services__item">
                                <div class="services__title" data-mh="servicesTitle">
                                    Khám dịch vụ <br/>(khu khám lầu 3)
                                    <div class="services__holes">
                                        <span class="services__hole"></span>
                                        <span class="services__hole"></span>
                                        <span class="services__hole"></span>
                                        <span class="services__hole"></span>
                                    </div>
                                </div>
                                <div class="services__info" data-mh="servicesInfo">
                                    <div class="services__time">
                                        <p class="services__time-day">
                                            Thứ 2 đến Thứ 6
                                        </p>
                                        <p class="services__time-hours">
                                            Sáng: 7g00 - 12g00
                                        </p>
                                        <p class="services__time-hours">
                                            Chiều: 13g00 - 16g00
                                        </p>
                                    </div>
                                    <div class="services__time">
                                        <p class="services__time-day">
                                            Thứ 7, chủ nhật, ngày lễ, Tết: nghỉ
                                        </p>
                                       
                                    </div>
                                </div>
                            </div>

                            <div class="services__item">
                                <div class="services__title" data-mh="servicesTitle">
                                    Khám Ngoài Giờ
                                    <div class="services__holes">
                                        <span class="services__hole"></span>
                                        <span class="services__hole"></span>
                                        <span class="services__hole"></span>
                                        <span class="services__hole"></span>
                                    </div>
                                </div>
                                <div class="services__info" data-mh="servicesInfo">
                                    <div class="services__time">
                                        <p class="services__time-day">
                                            Thứ 2 đến Chủ nhật
                                        </p>
                                        <p class="services__time-hours">
                                           Chiều: 16g00 - 19g00
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="services__item">
                                <div class="services__title" data-mh="servicesTitle">
                                    Khối Văn Phòng
                                    <div class="services__holes">
                                        <span class="services__hole"></span>
                                        <span class="services__hole"></span>
                                        <span class="services__hole"></span>
                                        <span class="services__hole"></span>
                                    </div>
                                </div>
                                <div class="services__info" data-mh="servicesInfo">
                                    <div class="services__time">
                                        <p class="services__time-day">
                                            Thứ 2 đến Thứ 6
                                        </p>
                                        <p class="services__time-hours">
                                            Sáng: 7g00 - 12g00
                                        </p>
                                        <p class="services__time-hours">
                                            Chiều: 13g00 - 16g00
                                        </p>
                                    </div>
                                    <div class="services__time">
                                        <p class="services__time-day">
                                            Thứ 7, chủ nhật, ngày lễ, Tết: nghỉ
                                        </p>
                                       
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>





    <!--Main Content end-->
</div>

