
@{
    ViewBag.Title = "Quytrinh";
    Layout = "~/Views/Shared/FrontEnd/_LayoutBenhvien.cshtml";
}

@section ScriptsHeader{
    <link href="~/Content/assets/css/datcauhoi.css" rel="stylesheet" />
}
 <!--Main Content start-->
<div class="main-content">





    <section class="page-title" style="background-image: url('http://cdn1.medihub.vn/uploads/images/2017/07/16/hero-slide2.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-title-content">
                    <h2 class="title line-bottom line-left">Quy trình</h2>
                </div>
            </div>
        </div>
    </section>



    <div class="box-layout">
        <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Khám chữa bệnh</a></li>
            <li><a href="#">Quy trình</a></li>
        </ol>
        <section>
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-8" style="padding-top: 20px">
                        <article>
                            <ul class="accordion-style style-two-2">
                                <li class="accordion-box2">
                                    <div class="acc-title active">
                                        <div class="icon-outer2">
                                            <span class="fa fa-plus-square-o"></span>
                                        </div>
                                        <div class="itum">
                                            <p>QUY TRÌNH KHÁM BỆNH BHYT Lầu 1</p>
                                        </div>
                                    </div>
                                    <div class="acc-content current" style="display: block;">
                                        <div class="content">
                                            <div class="center">
                                                <div class="video-gallery-item">
                                                    <a class="fancybox-media" href="https://www.youtube.com/embed/97k1qFesA44?rel=0&amp;showinfo=0" title="Awsome Title">
                                                        <i class="fa fa-youtube-play"></i>

                                                        <img alt="" src="~/content/assets/images/Quytrinh/baohiemlau1.JPG">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        </div>
                                </li>
                                <li class="accordion-box2">
                                    <div class="acc-title active">
                                        <div class="icon-outer2">
                                            <span class="fa fa-plus-square-o"></span>
                                        </div>
                                        <div class="itum">
                                            <p>QUY TRÌNH KHÁM BỆNH KHÔNG BHYT LẦU 1</p>
                                        </div>
                                    </div>
                                    <div class="acc-content current" style="display: none;">
                                        <div class="content">
                                            <div class="center">
                                                <div class="video-gallery-item">
                                                    <a class="fancybox-media" href="https://www.youtube.com/embed/rEpC6QInrkc?rel=0&amp;showinfo=0" title="Awsome Title">
                                                        <i class="fa fa-youtube-play"></i>

                                                        <img alt="" src="~/content/assets/images/Quytrinh/khongbaohiemlau1.JPG">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </li>

                                <li class="accordion-box2">
                                    <div class="acc-title active">
                                        <div class="icon-outer2">
                                            <span class="fa fa-plus-square-o"></span>
                                        </div>
                                        <div class="itum">
                                            <p>QUY TRÌNH KHÁM BỆNH BHYT LẦU 2</p>
                                        </div>
                                    </div>
                                    <div class="acc-content current" style="display: none;">
                                        <div class="content">
                                            <div class="center">
                                                <div class="video-gallery-item">
                                                    <a class="fancybox-media" href="https://www.youtube.com/embed/KTz-fFYEtxg?rel=0&amp;showinfo=0" title="Awsome Title">
                                                        <i class="fa fa-youtube-play"></i>

                                                        <img alt="" src="~/content/assets/images/Quytrinh/baohiemlau2.JPG">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li class="accordion-box2">
                                    <div class="acc-title active">
                                        <div class="icon-outer2">
                                            <span class="fa fa-plus-square-o"></span>
                                        </div>
                                        <div class="itum">
                                            <p>QUY TRÌNH KHÁM BỆNH KHÔNG BHYT LẦU 2</p>
                                        </div>
                                    </div>
                                    <div class="acc-content current" style="display: none;">
                                        <div class="content">
                                            <div class="center">
                                                <div class="video-gallery-item">
                                                    <a class="fancybox-media" href="https://www.youtube.com/embed/W0Ub0er-w7E?rel=0&amp;showinfo=0" title="Awsome Title">
                                                        <i class="fa fa-youtube-play"></i>

                                                        <img alt="" src="~/content/assets/images/Quytrinh/khongbaohiemlau2.JPG">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </li>

                                <li class="accordion-box2">
                                    <div class="acc-title active">
                                        <div class="icon-outer2">
                                            <span class="fa fa-plus-square-o"></span>
                                        </div>
                                        <div class="itum">
                                            <p>QUY TRÌNH KHÁM BỆNH BHYT LẦU 3</p>
                                        </div>
                                    </div>
                                    <div class="acc-content current" style="display: none;">
                                        <div class="content">
                                            <div class="center">
                                                <div class="video-gallery-item">
                                                    <a class="fancybox-media" href="https://www.youtube.com/embed/2xqdnmHgATM?rel=0&amp;showinfo=0" title="Awsome Title">
                                                        <i class="fa fa-youtube-play"></i>

                                                        <img alt="" src="~/content/assets/images/Quytrinh/baohiemlau3.JPG">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li class="accordion-box2">
                                    <div class="acc-title active">
                                        <div class="icon-outer2">
                                            <span class="fa fa-plus-square-o"></span>
                                        </div>
                                        <div class="itum">
                                            <p>QUY TRÌNH KHÁM BỆNH KHÔNG BHYT LẦU 3</p>
                                        </div>
                                    </div>
                                    <div class="acc-content current" style="display: none;">
                                        <div class="content">
                                            <div class="center">
                                                <div class="video-gallery-item">
                                                    <a class="fancybox-media" href="https://www.youtube.com/embed/h2G1iRrrM4A?rel=0&amp;showinfo=0" title="Awsome Title">
                                                        <i class="fa fa-youtube-play"></i>

                                                        <img alt="" src="~/content/assets/images/Quytrinh/khongbaohiemlau3.JPG">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                       </article>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        @Html.Action("Video", "Topic")
                        @Html.Action("SearchDoctorForm", "Doctor")


                        @Html.Action("Images", "Topic")
                    </div>

                </div>


            </div>

        </section>


    </div>





    <!--Main Content end-->
</div>

