@model MVCForum.Website.ViewModels.ScientificResearchPageViewModel
@{
    Layout = "~/Views/Shared/FrontEnd/_LayoutBenhvien.cshtml";

    var totalCount = Convert.ToInt32(Model.TotalCount);
}

<section class="pt-0 pb-3">
    <div class="container-fluid">
        <div class="row">
            <div class="banner-sub col-12">
                <div class="banner-sub__overlay"></div>
                <div class="container">
                    <div class="section__title section__title-page">
                        <h2 class="section__title-text">Nghiên Cứu Khoa Học</h2>
                        <div class="section__title-icon"></div>
                    </div>
                </div>
            </div>
            <div class="container page-container">
                <div>
                    <nav aria-label="breadcrumb" class="breadcrumb-custom col-12">
                        <ol class="breadcrumb breadcrumb-custom-ol">
                            <li class="breadcrumb-item breadcrumb-custom-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                            <li class="breadcrumb-item breadcrumb-custom-item"><a href="#">Tuyển Dụng - Đào tạo</a></li>
                            <li class="breadcrumb-item breadcrumb-custom-item"><a href="#">Đào tạo</a></li>
                            <li class="breadcrumb-item active breadcrumb-custom-item" aria-current="page">Nghiên cứu khoa học</li>
                        </ol>
                    </nav>
                </div>
                <div class="medicine-news__items category-news__items">
                    <div class="row">
                        @foreach (var topic in Model.Topics.OrderByDescending(x => x.CreateDate))
                        {
                            <div class="col-sm-4 scrollLeft">
                                <div class="medicine-news__item category-news__item">
                                    <a href="#" class="medicine-news__item-img category-news__item-img">
                                        <img class="img-fluid" src="@AppHelpers.TopicImage(topic.LinkImage, topic.User.Id, 360, 250)" alt="">
                                    </a>
                                    <div class="medicine-news__item-text category-news__item-text">
                                        <div class="medicine-news__item-text-title category-news__item-text-title">
                                            <a href="#">@topic.Name</a>
                                        </div>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <span>@DatesUI.GetPrettyDate(topic.CreateDate.ToString())</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    @if (Model.TotalPages > 1)
                    {
                        @Html.Pager(Convert.ToInt32(Model.PageIndex), 3, totalCount, null, "ScientificList", "Home")
                    }
                </div>

            </div>
        </div>
    </div>
</section>