
@{
    ViewBag.Title = "BanGiamdoc";
    Layout = "~/Views/Shared/FrontEnd/_LayoutBenhvien.cshtml";
}
@section ScriptsHeader{
    @*<link href="~/Content/assets/css/datcauhoi.css" rel="stylesheet" />*@
}
<!--Main Content start-->
<div class="main-content">

    <section class="page-title" style="background-image: url('http://cdn1.medihub.vn/uploads/images/2017/07/16/hero-slide2.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-title-content">
                    <h2 class="title line-bottom line-left">Sơ đồ tổ chức</h2>
                </div>
            </div>
        </div>
    </section>



    <div class="box-layout">


        <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Sơ đồ tổ chức</a></li>
        </ol>
        <div class="container">
            <div class="row">
            <div class="col-xs-12">
            <div style="background-image: url('/Content/assets/images/SoDoToChucBVNDGD.svg'); width: 100%; padding-top: 82%; background-size: cover;">

            </div>
            </div>
            </div>


        </div>





        <!--Main Content end-->
    </div>
</div>
