
@{
    ViewBag.Title = "ThongbaoNoibo";
    Layout = "~/Views/Shared/FrontEnd/_LayoutBenhvien.cshtml";
}

<!--Main Content start-->
<div class="main-content">
    <section class="page-title" style="background-image: url('http://cdn1.medihub.vn/uploads/images/2017/07/16/hero-slide2.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-title-content">
                    <h2 class="title line-bottom line-left">THÔNG BÁO</h2>
                </div>
            </div>
        </div>
    </section>

</div>


<!--=============thông báo nội bộ==============-->
<div class="box-layout">
    <ol class="breadcrumb">
        <li><a href="#">Trang chủ</a></li>
        <li class="active">Thông Báo Nội Bộ </li>
    </ol>

    <section>
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div data-mh="sameHeight-homepage">
                    <h2 class="des-title">THÔNG BÁO NỘI BỘ</h2>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 topp">
                    <div class="col-xs12 col-sm-12 col-md-8 boxshow">
                        <div class="boxshow-content">
                            <h3 class="titlenoti">Mới nhất</h3>
                        </div>
                    </div>
                    <div class="col-xs12 col-sm-12 col-md-2 boxshow">
                        <div class="boxshow-view">Lượt view</div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 boxshow">
                        <div class="boxshow-date">Ngày Đăng</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 boxx">
                    <div class="col-xs12 col-sm-12 col-md-8 boxshow">
                        <div class="boxshow-content">
                            <div class="content-i">Cảnh báo với tác dụng phụ nguy hiểm của thuốc giảm cân</div>
                        </div>
                    </div>
                    <div class="col-xs12 col-sm-12 col-md-2 boxshow">
                        <div class="boxshow-view">11</div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 boxshow">
                        <div class="boxshow-date">2017-07-31<br>07:38:41</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 boxx">
                    <div class="col-xs12 col-sm-12 col-md-8 boxshow">
                        <div class="boxshow-content">
                            <div class="content-i">Trẻ không tiêm vắc xin viêm gan B, lớn có nguy cơ bị xơ gan</div>
                        </div>
                    </div>
                    <div class="col-xs12 col-sm-12 col-md-2 boxshow">
                        <div class="boxshow-view">11</div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 boxshow">
                        <div class="boxshow-date">2017-07-31<br>07:38:41</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 boxx">
                    <div class="col-xs12 col-sm-12 col-md-8 boxshow">
                        <div class="boxshow-content">
                            <div class="content-i">Bệnh đái tháo đường tuýt 2 đang trẻ hóa</div>
                        </div>
                    </div>
                    <div class="col-xs12 col-sm-12 col-md-2 boxshow">
                        <div class="boxshow-view">26</div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 boxshow">
                        <div class="boxshow-date">2017-07-31<br>07:38:41</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 boxx">
                    <div class="col-xs12 col-sm-12 col-md-8 boxshow">
                        <div class="boxshow-content">
                            <div class="content-i">Sống sót sau khi được lấy đi 98 khối u trong não</div>
                        </div>
                    </div>
                    <div class="col-xs12 col-sm-12 col-md-2 boxshow">
                        <div class="boxshow-view">9</div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 boxshow">
                        <div class="boxshow-date">2017-07-28<br>07:38:41</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 boxx">
                    <div class="col-xs12 col-sm-12 col-md-8 boxshow">
                        <div class="boxshow-content">
                            <div class="content-i">Muối i-ốt, biết một cũng nên biết mười</div>
                        </div>
                    </div>
                    <div class="col-xs12 col-sm-12 col-md-2 boxshow">
                        <div class="boxshow-view">19</div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 boxshow">
                        <div class="boxshow-date">2017-07-27<br>07:38:41</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 boxx">
                    <div class="col-xs12 col-sm-12 col-md-8 boxshow">
                        <div class="boxshow-content">
                            <div class="content-i">Quả óc chó có thể phòng ngừa bệnh đái tháo đường tuýt 2</div>
                        </div>
                    </div>
                    <div class="col-xs12 col-sm-12 col-md-2 boxshow">
                        <div class="boxshow-view">19</div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 boxshow">
                        <div class="boxshow-date">2017-07-26<br>07:38:41</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 boxx">
                    <div class="col-xs12 col-sm-12 col-md-8 boxshow">
                        <div class="boxshow-content">
                            <div class="content-i">Virus Zika tồn tại trong tinh trùng qua 6 tháng</div>
                        </div>
                    </div>
                    <div class="col-xs12 col-sm-12 col-md-2 boxshow">
                        <div class="boxshow-view">11</div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 boxshow">
                        <div class="boxshow-date">2017-07-31<br>07:38:41</div>
                    </div>
                </div>
            </div>

            <!--==========thông báo nội bộ===============-->
        </div>
</div>
  </section>
<!--Main Content end-->
    </div>

