<div class="modal fade bs-example-modal-lg" id="vanBanTuSo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <!-- Modal content-->
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Văn bản từ Sở</h4>
            </div>
            <div class="modal-body">
                <ul class="rss-links">

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ve-viec-giai-quyet-ho-so-cong-bo-co-so-kham-benh-chua-benh-du-dieu-kien-kham-su-c1081-4039.aspx"
                           target="_blank">
                            Về việc giải quyết hồ sơ công bố cơ sở khám bệnh, chữa bệnh đủ điều kiện khám sức khỏe, khám sức khỏe lái xe, khám sức khỏe thuyền viên.
                        </a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ket-luan-cua-giam-doc-so-y-te-tai-giao-ban-tuan-voi-lanh-dao-phong-ban-so-y-te-c1081-3996.aspx"
                           target="_blank">Kết luận của Giám đốc Sở Y tế tại Giao ban tuần với lãnh đạo phòng, ban Sở Y tế ngày 03/7/2017</a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ve-viec-giai-quyet-ho-so-cong-bo-co-so-kham-benh-chua-benh-du-dieu-kien-kham-su-c1081-4039.aspx"
                           target="_blank">
                            Về việc giải quyết hồ sơ công bố cơ sở khám bệnh, chữa bệnh đủ điều kiện khám sức khỏe, khám sức khỏe lái xe, khám sức khỏe thuyền viên.
                        </a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ket-luan-cua-giam-doc-so-y-te-tai-giao-ban-tuan-voi-lanh-dao-phong-ban-so-y-te-c1081-3996.aspx"
                           target="_blank">Kết luận của Giám đốc Sở Y tế tại Giao ban tuần với lãnh đạo phòng, ban Sở Y tế ngày 03/7/2017</a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ve-viec-giai-quyet-ho-so-cong-bo-co-so-kham-benh-chua-benh-du-dieu-kien-kham-su-c1081-4039.aspx"
                           target="_blank">
                            Về việc giải quyết hồ sơ công bố cơ sở khám bệnh, chữa bệnh đủ điều kiện khám sức khỏe, khám sức khỏe lái xe, khám sức khỏe thuyền viên.
                        </a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ket-luan-cua-giam-doc-so-y-te-tai-giao-ban-tuan-voi-lanh-dao-phong-ban-so-y-te-c1081-3996.aspx"
                           target="_blank">Kết luận của Giám đốc Sở Y tế tại Giao ban tuần với lãnh đạo phòng, ban Sở Y tế ngày 03/7/2017</a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ve-viec-giai-quyet-ho-so-cong-bo-co-so-kham-benh-chua-benh-du-dieu-kien-kham-su-c1081-4039.aspx"
                           target="_blank">
                            Về việc giải quyết hồ sơ công bố cơ sở khám bệnh, chữa bệnh đủ điều kiện khám sức khỏe, khám sức khỏe lái xe, khám sức khỏe thuyền viên.
                        </a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ket-luan-cua-giam-doc-so-y-te-tai-giao-ban-tuan-voi-lanh-dao-phong-ban-so-y-te-c1081-3996.aspx"
                           target="_blank">Kết luận của Giám đốc Sở Y tế tại Giao ban tuần với lãnh đạo phòng, ban Sở Y tế ngày 03/7/2017</a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ve-viec-giai-quyet-ho-so-cong-bo-co-so-kham-benh-chua-benh-du-dieu-kien-kham-su-c1081-4039.aspx"
                           target="_blank">
                            Về việc giải quyết hồ sơ công bố cơ sở khám bệnh, chữa bệnh đủ điều kiện khám sức khỏe, khám sức khỏe lái xe, khám sức khỏe thuyền viên.
                        </a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ket-luan-cua-giam-doc-so-y-te-tai-giao-ban-tuan-voi-lanh-dao-phong-ban-so-y-te-c1081-3996.aspx"
                           target="_blank">Kết luận của Giám đốc Sở Y tế tại Giao ban tuần với lãnh đạo phòng, ban Sở Y tế ngày 03/7/2017</a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ve-viec-giai-quyet-ho-so-cong-bo-co-so-kham-benh-chua-benh-du-dieu-kien-kham-su-c1081-4039.aspx"
                           target="_blank">
                            Về việc giải quyết hồ sơ công bố cơ sở khám bệnh, chữa bệnh đủ điều kiện khám sức khỏe, khám sức khỏe lái xe, khám sức khỏe thuyền viên.
                        </a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ket-luan-cua-giam-doc-so-y-te-tai-giao-ban-tuan-voi-lanh-dao-phong-ban-so-y-te-c1081-3996.aspx"
                           target="_blank">Kết luận của Giám đốc Sở Y tế tại Giao ban tuần với lãnh đạo phòng, ban Sở Y tế ngày 03/7/2017</a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ve-viec-giai-quyet-ho-so-cong-bo-co-so-kham-benh-chua-benh-du-dieu-kien-kham-su-c1081-4039.aspx"
                           target="_blank">
                            Về việc giải quyết hồ sơ công bố cơ sở khám bệnh, chữa bệnh đủ điều kiện khám sức khỏe, khám sức khỏe lái xe, khám sức khỏe thuyền viên.
                        </a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ket-luan-cua-giam-doc-so-y-te-tai-giao-ban-tuan-voi-lanh-dao-phong-ban-so-y-te-c1081-3996.aspx"
                           target="_blank">Kết luận của Giám đốc Sở Y tế tại Giao ban tuần với lãnh đạo phòng, ban Sở Y tế ngày 03/7/2017</a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ve-viec-giai-quyet-ho-so-cong-bo-co-so-kham-benh-chua-benh-du-dieu-kien-kham-su-c1081-4039.aspx"
                           target="_blank">
                            Về việc giải quyết hồ sơ công bố cơ sở khám bệnh, chữa bệnh đủ điều kiện khám sức khỏe, khám sức khỏe lái xe, khám sức khỏe thuyền viên.
                        </a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ket-luan-cua-giam-doc-so-y-te-tai-giao-ban-tuan-voi-lanh-dao-phong-ban-so-y-te-c1081-3996.aspx"
                           target="_blank">Kết luận của Giám đốc Sở Y tế tại Giao ban tuần với lãnh đạo phòng, ban Sở Y tế ngày 03/7/2017</a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ve-viec-giai-quyet-ho-so-cong-bo-co-so-kham-benh-chua-benh-du-dieu-kien-kham-su-c1081-4039.aspx"
                           target="_blank">
                            Về việc giải quyết hồ sơ công bố cơ sở khám bệnh, chữa bệnh đủ điều kiện khám sức khỏe, khám sức khỏe lái xe, khám sức khỏe thuyền viên.
                        </a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ket-luan-cua-giam-doc-so-y-te-tai-giao-ban-tuan-voi-lanh-dao-phong-ban-so-y-te-c1081-3996.aspx"
                           target="_blank">Kết luận của Giám đốc Sở Y tế tại Giao ban tuần với lãnh đạo phòng, ban Sở Y tế ngày 03/7/2017</a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ve-viec-giai-quyet-ho-so-cong-bo-co-so-kham-benh-chua-benh-du-dieu-kien-kham-su-c1081-4039.aspx"
                           target="_blank">
                            Về việc giải quyết hồ sơ công bố cơ sở khám bệnh, chữa bệnh đủ điều kiện khám sức khỏe, khám sức khỏe lái xe, khám sức khỏe thuyền viên.
                        </a>
                    </li>

                    <li>
                        <a href="http://medinet.gov.vn/thong-bao/ket-luan-cua-giam-doc-so-y-te-tai-giao-ban-tuan-voi-lanh-dao-phong-ban-so-y-te-c1081-3996.aspx"
                           target="_blank">Kết luận của Giám đốc Sở Y tế tại Giao ban tuần với lãnh đạo phòng, ban Sở Y tế ngày 03/7/2017</a>
                    </li>

                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
