<div class="topadminsubnav">
    <div class="btn-group" role="group">
        <a href="@Url.Action("ManageDepartment")" role="button" class="btn-mvc-green">Quản Lý</a>
        <a href="@Url.Action("CreateDepartment")" role="button" class="btn-mvc-green">Tạo Mới</a>
    </div>
</div>