<div class="topadminsubnav">
    <div class="btn-group" role="group">
        <a href="@Url.Action("ManageEducation", new { isPending = false })" role="button" class="btn-mvc-green">Quản Lý</a>
        <a href="@Url.Action("CreateEducation")" role="button" class="btn-mvc-green">Tạo Mới</a>
        <a href="@Url.Action("ManageEducation", new { isPending = true })" role="button" class="btn-mvc-green">Tin Đã Xóa</a>
    </div>
</div>