@font-face {
	font-family: 'btmedical';
	src:url('fonts/btmedical.eot?uxxznt');
	src:url('fonts/btmedical.eot?uxxznt#iefix') format('embedded-opentype'),
		url('fonts/btmedical.ttf?uxxznt') format('truetype'),
		url('fonts/btmedical.woff?uxxznt') format('woff'),
		url('fonts/btmedical.svg?uxxznt#btmedical') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'btmedical' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: block;
	text-align: center;
	font-size: 100px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-medical-book:before {
	content: "\e900";
}
.icon-24-hours-bed:before {
	content: "\e901";
}
.icon-24-hours-umbrella:before {
	content: "\e902";
}
.icon-24-hours-pills-cart:before {
	content: "\e903";
}
.icon-24-hours-building:before {
	content: "\e904";
}
.icon-24-hours-van:before {
	content: "\e905";
}
.icon-24-hours-phone:before {
	content: "\e906";
}
.icon-book-heart:before {
	content: "\e907";
}
.icon-alarm:before {
	content: "\e908";
}
.icon-ambulance:before {
	content: "\e909";
}
.icon-24-hours-ambulance:before {
	content: "\e90a";
}
.icon-apple-bottle:before {
	content: "\e90b";
}
.icon-apple-fork:before {
	content: "\e90c";
}
.icon-apple-shield:before {
	content: "\e90d";
}
.icon-apple-paper:before {
	content: "\e90e";
}
.icon-apple:before {
	content: "\e90f";
}
.icon-asterisk:before {
	content: "\e910";
}
.icon-radish-fork:before {
	content: "\e911";
}
.icon-ball:before {
	content: "\e912";
}
.icon-band:before {
	content: "\e913";
}
.icon-band-cross:before {
	content: "\e914";
}
.icon-bar-shield:before {
	content: "\e915";
}
.icon-beaker:before {
	content: "\e916";
}
.icon-bed:before {
	content: "\e917";
}
.icon-bicycle:before {
	content: "\e918";
}
.icon-blood-search:before {
	content: "\e919";
}
.icon-blood-group-zero:before {
	content: "\e91a";
}
.icon-blood-group-b:before {
	content: "\e91b";
}
.icon-blood-group-ab:before {
	content: "\e91c";
}
.icon-blood-group-a:before {
	content: "\e91d";
}
.icon-caduceus:before {
	content: "\e91e";
}
.icon-calendar-hospital:before {
	content: "\e91f";
}
.icon-call-ambulance:before {
	content: "\e920";
}
.icon-cardiac:before {
	content: "\e921";
}
.icon-catholic:before {
	content: "\e922";
}
.icon-cell:before {
	content: "\e923";
}
.icon-circle-male:before {
	content: "\e924";
}
.icon-clinic-folder:before {
	content: "\e925";
}
.icon-clock-apple:before {
	content: "\e926";
}
.icon-conversations:before {
	content: "\e927";
}
.icon-cross:before {
	content: "\e928";
}
.icon-curved:before {
	content: "\e929";
}
.icon-dentist-calendar:before {
	content: "\e92a";
}
.icon-dentist-books:before {
	content: "\e92b";
}
.icon-dentist-tool:before {
	content: "\e92c";
}
.icon-dentist-tools:before {
	content: "\e92d";
}
.icon-dentist-24-hours:before {
	content: "\e92e";
}
.icon-dentist-chat:before {
	content: "\e92f";
}
.icon-diet:before {
	content: "\e930";
}
.icon-disease:before {
	content: "\e931";
}
.icon-dna:before {
	content: "\e932";
}
.icon-drop-shield:before {
	content: "\e933";
}
.icon-drop:before {
	content: "\e934";
}
.icon-dropper:before {
	content: "\e935";
}
.icon-drug:before {
	content: "\e936";
}
.icon-drug-skull:before {
	content: "\e937";
}
.icon-drugs-bottle:before {
	content: "\e938";
}
.icon-drugs-cart:before {
	content: "\e939";
}
.icon-drugs-discount:before {
	content: "\e93a";
}
.icon-dumbbell:before {
	content: "\e93b";
}
.icon-ear:before {
	content: "\e93c";
}
.icon-energy:before {
	content: "\e93d";
}
.icon-eye:before {
	content: "\e93e";
}
.icon-glasses:before {
	content: "\e93f";
}
.icon-female:before {
	content: "\e940";
}
.icon-first-aid:before {
	content: "\e941";
}
.icon-first-aid-phone:before {
	content: "\e942";
}
.icon-flag-cross:before {
	content: "\e943";
}
.icon-flask:before {
	content: "\e944";
}
.icon-fork:before {
	content: "\e945";
}
.icon-frequency:before {
	content: "\e946";
}
.icon-glass-snake:before {
	content: "\e947";
}
.icon-hand-heart:before {
	content: "\e948";
}
.icon-handicapped:before {
	content: "\e949";
}
.icon-health-apple-book:before {
	content: "\e94a";
}
.icon-health-hospital-discount:before {
	content: "\e94b";
}
.icon-healthy-apple:before {
	content: "\e94c";
}
.icon-healthy-dentist:before {
	content: "\e94d";
}
.icon-heart-cross:before {
	content: "\e94e";
}
.icon-heart-cross2:before {
	content: "\e94f";
}
.icon-heart-shield:before {
	content: "\e950";
}
.icon-heart-calendar:before {
	content: "\e951";
}
.icon-heart-beats:before {
	content: "\e952";
}
.icon-heartbeat:before {
	content: "\e953";
}
.icon-heartbeats:before {
	content: "\e954";
}
.icon-helicopter-24-hours:before {
	content: "\e955";
}
.icon-herbal-tea:before {
	content: "\e956";
}
.icon-hospital-phone:before {
	content: "\e957";
}
.icon-hospital-wheels:before {
	content: "\e958";
}
.icon-hospital-map-pin:before {
	content: "\e959";
}
.icon-hospital-circle-mark:before {
	content: "\e95a";
}
.icon-hospital-building:before {
	content: "\e95b";
}
.icon-human-sleeping:before {
	content: "\e95c";
}
.icon-human-kidney:before {
	content: "\e95d";
}
.icon-immunity-pills:before {
	content: "\e95e";
}
.icon-increasing-heart-chart:before {
	content: "\e95f";
}
.icon-inhaler:before {
	content: "\e960";
}
.icon-intravenous:before {
	content: "\e961";
}
.icon-injection:before {
	content: "\e962";
}
.icon-knife:before {
	content: "\e963";
}
.icon-leaf:before {
	content: "\e964";
}
.icon-lifeline:before {
	content: "\e965";
}
.icon-lifeline-heart:before {
	content: "\e966";
}
.icon-liquid-bottle:before {
	content: "\e967";
}
.icon-liver:before {
	content: "\e968";
}
.icon-male-female:before {
	content: "\e969";
}
.icon-male:before {
	content: "\e96a";
}
.icon-masculine:before {
	content: "\e96b";
}
.icon-medical-calendar-eye:before {
	content: "\e96c";
}
.icon-medical-croch:before {
	content: "\e96d";
}
.icon-medical-bubble:before {
	content: "\e96e";
}
.icon-medical-chopper-phone:before {
	content: "\e96f";
}
.icon-medical-chopper:before {
	content: "\e970";
}
.icon-medical-shield-24-hours:before {
	content: "\e971";
}
.icon-medical-bag:before {
	content: "\e972";
}
.icon-medical-beds:before {
	content: "\e973";
}
.icon-medical-chart-increasing:before {
	content: "\e974";
}
.icon-medical-van:before {
	content: "\e975";
}
.icon-medical-chemicals:before {
	content: "\e976";
}
.icon-medical-microscope:before {
	content: "\e977";
}
.icon-medical-note:before {
	content: "\e978";
}
.icon-medical-cross-24-hours:before {
	content: "\e979";
}
.icon-medical-chart-lowering:before {
	content: "\e97a";
}
.icon-medical-heart-zoom:before {
	content: "\e97b";
}
.icon-medical-chat-dna:before {
	content: "\e97c";
}
.icon-medical-note-pencil:before {
	content: "\e97d";
}
.icon-medical-blood-pressure:before {
	content: "\e97e";
}
.icon-medicine-something:before {
	content: "\e97f";
}
.icon-medicine-pills:before {
	content: "\e980";
}
.icon-medicine-tent:before {
	content: "\e981";
}
.icon-medicine-photo:before {
	content: "\e982";
}
.icon-medicine-pills-bottle:before {
	content: "\e983";
}
.icon-medicine-pills-on-discount:before {
	content: "\e984";
}
.icon-medicine-potion-bottle:before {
	content: "\e985";
}
.icon-medicine-potion-covered:before {
	content: "\e986";
}
.icon-medicine-drugs-glass:before {
	content: "\e987";
}
.icon-medicines-calendar:before {
	content: "\e988";
}
.icon-medicines-clock:before {
	content: "\e989";
}
.icon-medicines-bottle-glass:before {
	content: "\e98a";
}
.icon-mortar-cart:before {
	content: "\e98b";
}
.icon-mortar:before {
	content: "\e98c";
}
.icon-music:before {
	content: "\e98d";
}
.icon-natural-mortal:before {
	content: "\e98e";
}
.icon-no-smoking:before {
	content: "\e98f";
}
.icon-nurse:before {
	content: "\e990";
}
.icon-oxygen:before {
	content: "\e991";
}
.icon-pharmaceutical:before {
	content: "\e992";
}
.icon-pharmaceutical-cart:before {
	content: "\e993";
}
.icon-pharmacy-cart-phone:before {
	content: "\e994";
}
.icon-pharmacy-cart:before {
	content: "\e995";
}
.icon-pharmacy-cart-mortar:before {
	content: "\e996";
}
.icon-plaster:before {
	content: "\e997";
}
.icon-plus-eye:before {
	content: "\e998";
}
.icon-plus-kidneys:before {
	content: "\e999";
}
.icon-pressuring:before {
	content: "\e99a";
}
.icon-radish:before {
	content: "\e99b";
}
.icon-red-cross:before {
	content: "\e99c";
}
.icon-right-chart-heart:before {
	content: "\e99d";
}
.icon-scissor:before {
	content: "\e99e";
}
.icon-searching-folder:before {
	content: "\e99f";
}
.icon-shield:before {
	content: "\e9a0";
}
.icon-skull-in-bottle:before {
	content: "\e9a1";
}
.icon-smile:before {
	content: "\e9a2";
}
.icon-sparkling:before {
	content: "\e9a3";
}
.icon-speech-hearbeat:before {
	content: "\e9a4";
}
.icon-sperms:before {
	content: "\e9a5";
}
.icon-spheres:before {
	content: "\e9a6";
}
.icon-spoon-fork-plate:before {
	content: "\e9a7";
}
.icon-stethoscope:before {
	content: "\e9a8";
}
.icon-syringe:before {
	content: "\e9a9";
}
.icon-syringe-needle:before {
	content: "\e9aa";
}
.icon-tablets:before {
	content: "\e9ab";
}
.icon-tape:before {
	content: "\e9ac";
}
.icon-telephone:before {
	content: "\e9ad";
}
.icon-test:before {
	content: "\e9ae";
}
.icon-testing:before {
	content: "\e9af";
}
.icon-test-small:before {
	content: "\e9b0";
}
.icon-testing-drop:before {
	content: "\e9b1";
}
.icon-thermometer:before {
	content: "\e9b2";
}
.icon-three-nuclear:before {
	content: "\e9b3";
}
.icon-three-disease:before {
	content: "\e9b4";
}
.icon-time-for-pills:before {
	content: "\e9b5";
}
.icon-time-for-biking:before {
	content: "\e9b6";
}
.icon-timer:before {
	content: "\e9b7";
}
.icon-tooth:before {
	content: "\e9b8";
}
.icon-tooth-cross:before {
	content: "\e9b9";
}
.icon-tooth-tool:before {
	content: "\e9ba";
}
.icon-tooth-brush:before {
	content: "\e9bb";
}
.icon-tooth-only:before {
	content: "\e9bc";
}
.icon-tooth-bottle:before {
	content: "\e9bd";
}
.icon-tooth-paste:before {
	content: "\e9be";
}
.icon-umbrella:before {
	content: "\e9bf";
}
.icon-honeycomb:before {
	content: "\e9c0";
}
.icon-vegetarian:before {
	content: "\e9c1";
}
.icon-wall-clock:before {
	content: "\e9c2";
}
.icon-water-apple:before {
	content: "\e9c3";
}
.icon-wheelchair:before {
	content: "\e9c4";
}
.icon-wineglass-snake-phone:before {
	content: "\e9c5";
}
.icon-zzz:before {
	content: "\e9c6";
}
.icon-animal:before {
	content: "\e9c7";
}
.icon-baby:before {
	content: "\e9c8";
}
.icon-computer-screen:before {
	content: "\e9c9";
}
.icon-disabled:before {
	content: "\e9ca";
}
.icon-doctor:before {
	content: "\e9cb";
}
.icon-stethoscope2:before {
	content: "\e9cc";
}
.icon-document-cross:before {
	content: "\e9cd";
}
.icon-document:before {
	content: "\e9ce";
}
.icon-eyes:before {
	content: "\e9cf";
}
.icon-file:before {
	content: "\e9d0";
}
.icon-gene:before {
	content: "\e9d1";
}
.icon-health-care:before {
	content: "\e9d2";
}
.icon-health-care-plaster:before {
	content: "\e9d3";
}
.icon-health-care-briefcase:before {
	content: "\e9d4";
}
.icon-health-care-epruvete:before {
	content: "\e9d5";
}
.icon-health-care-paper:before {
	content: "\e9d6";
}
.icon-health-clinic:before {
	content: "\e9d7";
}
.icon-health-clinic-sign:before {
	content: "\e9d8";
}
.icon-healthy-care:before {
	content: "\e9d9";
}
.icon-healthy-food:before {
	content: "\e9da";
}
.icon-heart:before {
	content: "\e9db";
}
.icon-heart-pumping:before {
	content: "\e9dc";
}
.icon-hospital:before {
	content: "\e9dd";
}
.icon-hospital-doctor:before {
	content: "\e9de";
}
.icon-hospital-pills-bottle:before {
	content: "\e9df";
}
.icon-hospital-nurse:before {
	content: "\e9e0";
}
.icon-hospital-bed:before {
	content: "\e9e1";
}
.icon-hospital-sign:before {
	content: "\e9e2";
}
.icon-hospital-syringe:before {
	content: "\e9e3";
}
.icon-hospital-skeleton:before {
	content: "\e9e4";
}
.icon-hospital-syringe-with-needle:before {
	content: "\e9e5";
}
.icon-hospitals-desk:before {
	content: "\e9e6";
}
.icon-laboratory:before {
	content: "\e9e7";
}
.icon-list:before {
	content: "\e9e8";
}
.icon-medical-flash:before {
	content: "\e9e9";
}
.icon-medical-hands:before {
	content: "\e9ea";
}
.icon-medical-epruvete:before {
	content: "\e9eb";
}
.icon-medical-film:before {
	content: "\e9ec";
}
.icon-medical-laboratory:before {
	content: "\e9ed";
}
.icon-medicine-folder:before {
	content: "\e9ee";
}
.icon-medicine-pills2:before {
	content: "\e9ef";
}
.icon-organs-lungs:before {
	content: "\e9f0";
}
.icon-person:before {
	content: "\e9f1";
}
.icon-pharmacy:before {
	content: "\e9f2";
}
.icon-pregnant:before {
	content: "\e9f3";
}
.icon-smartphone:before {
	content: "\e9f4";
}
.icon-stick-man:before {
	content: "\e9f5";
}
.icon-tooth2:before {
	content: "\e9f6";
}
.icon-transport-helicopter:before {
	content: "\e9f7";
}
.icon-transport-van:before {
	content: "\e9f8";
}

